<nav class="navbar navbar-expand-lg navbar-light ">

  <%= link_to 'O-Sale', root_path, class: 'navbar-brand goog' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to  root_path, class: 'nav-link' do %>
           Home <span></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Product', "new-item.html", class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign In', "login.html", class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Up', "register.html", class: 'nav-link' %>

      </li>
    </ul>
  </div>
</nav>
