<div class="form-body-style px-5 pt-4">

  <%= form_with model: @product, local: true do |f| %>
    <%= render 'shared/error_messages', object: @product %>

    <div class="form-group row">
      <div class="col-md-3 col-form-label">
        <%= f.label :name %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Product Name', autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 col-form-label">
        <%= f.label :price %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :price, class: 'form-control', placeholder: 'Product Price' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 col-form-label">
        <%= f.label :Description %>
      </div>
      <div class="col-md-9">
        <%= f.text_area :description, id: 'description', class: 'form-control', placeholder: 'Product description', rows: 5 %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 col-form-label">
        <%= f.label :image_url, 'Image' %>
      </div>
      <div class="col-md-9">
        <%= f.file_field :image_url, id: 'image', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-9 offset-md-3">
        <%= f.submit class: 'btn btn-outline-purple' %>

      </div>
    </div>
  <% end %>
</div>
